templates/nodered/data/flows.json
[{"id":"48a4fc30.46fe9c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8eafce6b.cb2348","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f8b05138.f81cc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1d35fba1.3cf55c","type":"subflow","name":"toggle","info":"","category":"","in":[{"x":200,"y":120,"wires":[{"id":"352b2530.95f8ca"}]}],"out":[{"x":900,"y":120,"wires":[{"id":"75d9812b.93266","port":0},{"id":"bf71e52f.5546d8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"23754bdc.559d54","type":"ui_tab","name":"Fischertechnik","icon":"dashboard","disabled":false,"hidden":false},{"id":"587024ad.7ec614","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Fischertechnik Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df36dfee.172e9","type":"ui_group","name":"FtDuino","tab":"23754bdc.559d54","order":1,"disp":true,"width":"6","collapse":false},{"id":"e82de3c7.46832","type":"mqtt-broker","name":"TX-PI","broker":"tx-pi.sesamestreet.lan","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"68edd45f.1f8c8c","type":"debug","z":"48a4fc30.46fe9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"d367cee.289123","type":"switch","z":"1d35fba1.3cf55c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":120,"wires":[["75d9812b.93266"],["bf71e52f.5546d8"]]},{"id":"75d9812b.93266","type":"change","z":"1d35fba1.3cf55c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"next","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":80,"wires":[[]]},{"id":"bf71e52f.5546d8","type":"change","z":"1d35fba1.3cf55c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"next","pt":"flow","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":140,"wires":[[]]},{"id":"352b2530.95f8ca","type":"function","z":"1d35fba1.3cf55c","name":"get next value","func":"msg.payload = flow.get(\"next\")||\"off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["d367cee.289123"]]},{"id":"3601cba9.edb37c","type":"ui_switch","z":"48a4fc30.46fe9c","name":"","label":"O1","tooltip":"","group":"df36dfee.172e9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":610,"y":300,"wires":[["68edd45f.1f8c8c","4427c614.6c6b5"]]},{"id":"d42b8389.73cac","type":"inject","z":"48a4fc30.46fe9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":430,"y":280,"wires":[["3601cba9.edb37c"]]},{"id":"b53a7390.5b3c7","type":"inject","z":"48a4fc30.46fe9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":430,"y":320,"wires":[["3601cba9.edb37c"]]},{"id":"4427c614.6c6b5","type":"mqtt out","z":"48a4fc30.46fe9c","name":"","topic":"O1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e82de3c7.46832","x":750,"y":300,"wires":[]},{"id":"70d24837.fa7bb8","type":"finite-state-machine","z":"8eafce6b.cb2348","name":"","fsmDefinition":"{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"toggleState\":\"RUNNING\"},\"RUNNING\":{\"toggleState\":\"IDLE\"}}}","sendInitialState":false,"sendStateWithoutChange":false,"showTransitionErrors":true,"x":670,"y":300,"wires":[["236d8d.5ef6da74"]]},{"id":"236d8d.5ef6da74","type":"debug","z":"8eafce6b.cb2348","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":300,"wires":[]},{"id":"701f2b41.e4ecb4","type":"inject","z":"8eafce6b.cb2348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"toggleState","payload":"","payloadType":"str","x":440,"y":300,"wires":[["70d24837.fa7bb8"]]},{"id":"a75e8c2f.0b2378","type":"comment","z":"8eafce6b.cb2348","name":"sending topic \"toggleState\" toggles between the two states","info":"","x":610,"y":240,"wires":[]},{"id":"14975d8b.2c5bba","type":"debug","z":"f8b05138.f81cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"9910f80c.f5c948","type":"state-machine","z":"f8b05138.f81cc","name":"StartStop","triggerProperty":"topic","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["start","stop"],"transitions":[{"name":"toggle","from":"start","to":"stop"},{"name":"toggle","from":"stop","to":"start"}],"x":670,"y":280,"wires":[["14975d8b.2c5bba"]]},{"id":"992d3bab.65669","type":"inject","z":"f8b05138.f81cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"toggle","payload":"","payloadType":"date","x":420,"y":280,"wires":[["9910f80c.f5c948"]]}]